/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
             VARIABLES
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

$color: (
    primary: #f3af03,
    primary-lighten: lighten(#f3af03, 30%),
    primary-darken: darken(#f3af03, 30%),
    accent: #ffffff,
    black: #161616,
    cta:#272727
);

$device-width: (
    desktop:35em,
    tab: 30em
);

$gap: 10px;