/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
    EXTERNAL STYLESHEETS IMPORTS
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
             VARIABLES
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
         FUNCTIONS and MIXINS
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
             UTILITIES
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sp-btw {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #161616;
}

ul {
  list-style-type: none;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
        GENERAL STYLINGS
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  color: #161616;
  overflow-x: hidden;
}

.hero-img {
  background-image: url(../assets/hero-img.jpg);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-position-x: -180px;
  background-position-y: -10px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero-img::after {
  content: " ";
  width: 100%;
  height: 100%;
  background: #161616;
  z-index: 1;
}

header {
  margin: 20px;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 15px;
}

header .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
}

header .nav ul li a {
  margin: 0 10px;
  font-weight: 700;
  -webkit-transition: 200ms;
  transition: 200ms;
}

header .nav ul li a:hover {
  color: #f3af03;
  border-bottom: 3px solid;
}

main {
  margin: 10rem 10px;
  width: 75%;
}

main h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

main h1 strong {
  color: #f3af03;
  border-bottom: 5px solid;
  padding: 0 initial;
}

main blockquote {
  margin-bottom: 10px;
}

footer {
  max-width: 100%;
  position: relative;
  bottom: 0;
  max-width: 100%;
  color: #ffffff;
  background: #f3af03;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  margin: 0;
}

footer .footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[1fr];
      grid-template-columns: repeat(1fr);
  place-items: center;
  margin: 10px;
  padding: 10px;
  gap: 30px;
}

footer .footer-container form {
  max-width: 50vw;
}

footer .footer-container form h3 {
  text-align: center;
  margin: 10px 0;
}

footer .footer-container .email-list-signup {
  place-self: center;
  max-width: 50vw;
}

footer .footer-container .email-list-signup label {
  margin: 0 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container .email-list-signup label input {
  width: 100%;
  height: 2em;
  border-radius: 5px;
  border: none;
  outline-color: #f3af03;
}

footer .footer-container .email-list-signup button {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background: #5c4201;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  margin: 10px 0 0 0;
}

footer .footer-container .email-list-signup button:hover {
  background: #fedf91;
  color: #5c4201;
}

footer .footer-container .footer-links a {
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

footer .footer-container .footer-links a:hover {
  color: #fedf91;
}

footer .copyright {
  background: #5c4201;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */