/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
    EXTERNAL STYLESHEETS IMPORTS
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
@import './fonts';

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
             VARIABLES
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

$color: (
    primary: #f3af03,
    primary-lighten: lighten(#f3af03, 30%),
    primary-darken: darken(#f3af03, 30%),
    accent: #ffffff,
    black: #161616,
    cta:#272727
);

$device-width: (
    desktop:35em,
    tab: 30em
);

$gap: 10px;

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
         FUNCTIONS and MIXINS
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

@function color($color-name){
    @return map-get($color, $color-name);
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
             UTILITIES
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.sp-btw{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

a{
    text-decoration: none;
    color: color(black);
}

ul{
    list-style-type: none;
}

/*+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-
        GENERAL STYLINGS
+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html,body{
    color: color(black);
    overflow-x: hidden;
}

.hero-img{
    background-image: url(../assets/hero-img.jpg);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background-position-x: -180px;
    background-position-y: -10px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

//create a gradient effect on the hero image

.hero-img::after{
    content: " ";
    width: 100%;
    height: 100%;
    background: #161616;
    z-index: 1;
}

header{
    margin: $gap * 2;
    backdrop-filter: blur(30px);
    border-radius: 15px;

    .logo{
        align-items: center;
        font-size: 1.4rem;
        font-weight: bold;
    }

    .nav ul li a{
        margin: 0 $gap;
        font-weight: 700;
        transition: 200ms;

        &:hover{
            color: color(primary);
            border-bottom: 3px solid;
        }
    }

// @MEDIA !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

    // @media only screen (max-width:300px) {
    //     background: ;
    // }
}

main{
    margin: 10rem $gap;
    width: 75%;


    h1{
        font-size: 3em;
        margin-bottom: $gap * 3;
        

        strong{
            color: color(primary);
            border-bottom: 5px solid;
            padding: 0 initial;
        }
    }

    blockquote{
        margin-bottom: $gap;
    }
}

footer{
    max-width: 100%;
    position: relative;
    bottom: 0;
    max-width: 100%;
    color: color(accent);
    background: color(primary);
    backdrop-filter: blur(30px);
    margin: 0;

    .footer-container{
        display: grid;
        grid-template-columns: repeat(1fr);
        // grid-template-rows: 1fr;
        place-items: center;
        margin: $gap;
        padding: $gap;
        gap: $gap * 3;

        form{
            max-width: 50vw;
            h3{
                text-align: center;
                margin: $gap 0;
            }
        }
        .email-list-signup{
            // border-radius: $gap;
            // border: 2px solid;
            place-self: center;
            max-width: 50vw;

            label{
                margin: 0 0 $gap 0;
                display: flex;
                flex-direction: column;

                input{
                    width: 100%;
                    height: 2em;
                    // padding: .3rem;
                    border-radius: 5px;
                    border: none;
                    outline-color: color(primary);
                }
            }
            
            button{
                width: 100%;
                height: 30px;
                border-radius: 5px;
                border: none;
                color: color(accent);
                background: color(primary-darken);
                transition: 300ms ease;
                margin: $gap 0 0 0;

                &:hover{
                    background: color(primary-lighten);
                    color: color(primary-darken);
                }
            }
        }

        .footer-links{

            a{
                transition: 300ms ease;
                &:hover{
                    color: color(primary-lighten)
                }
            }
        }

    }
    .copyright{
        background: color(primary-darken);
        position: relative;
        bottom: 0;
        width: 100%;
        padding: $gap;
    }
}
@media only screen (max-width:700px) {
    .email-list-signup{
        max-width: 75%;
    }
}